$accent_color: #8c54fb;
$primary_color: #f2f2f3;
$bg_color: #fff;
$input_border_color: #dbdbdb;
$red: #ee2f32;

$border_radius: 5px;

$font_size: 16px;
$font_size_sm: 14px;

$font_family: "Commissioner", sans-serif;
$font_family_title: "Philosopher", sans-serif;

$media_xxl: 1681px;
$media_xl: 1441px;
$media_lg: 1200px;
$media_md: 992px;
$media_sm: 768px;
$media_xs: 576px;
