/*-------------------- MENU --------------------*/

/*-------------------- MENU --------------------*/
header {
	min-height: 50px;
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	position: fixed;
	z-index: 10;
	padding-left: 4vw;
	padding-right: 4vw;
	transition:
		transform 0.3s ease,
		background 0.3s ease;

	.scroll-up & {
		transform: translateY(0);
		background-color: $black;
	}

	.scroll-down & {
		transform: translateY(-100%);
		background-color: $black;
	}

	.header-cover {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		padding-top: 30px;
		padding-bottom: 30px;
		transition: 0.35s ease-out;
		flex: 0 0 100%;
		display: flex;
		align-items: center;
		transition:
			opacity 0.35s ease-out,
			transform 0.35s ease-out;
		opacity: 0;
		transform: translateY(-40px);

		@media (max-width: map-get($media, "lg")) {
			padding-top: 20px;
			padding-bottom: 20px;
		}

		.hide-loader & {
			opacity: 1;
			transform: translateY(0);
			transition-delay: 2.5s;
		}
		.header-col {
			max-width: 33.33%;
			flex: 0 0 33.33%;
		}
	}
}

.header-menu {
	display: flex;
	justify-content: flex-end;
}

/*--------------------- HEADER TOGGLE ---------------------*/
.burger {
	position: relative;
	width: 30px;
	height: 30px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	z-index: 12;
	> span {
		position: absolute;
		display: block;
		height: 2px;
		top: 50%;
		right: 0;
		overflow: hidden;
		transition: transform 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		&:first-child {
			width: 30px;
			margin-top: -5px;
		}
		&:last-child {
			width: 20px;
			margin-top: 5px;
		}
		&:before,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: inherit;
			width: inherit;
			background-color: #fff;
			display: inline-block;
			transition: transform 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
		}
		&:before {
			transform: translateX(-100%);
		}
	}
	&:hover {
		> span {
			&:first-child:before {
				transform: translateX(0);
				transition-delay: 0.1s;
			}
			&:first-child:after {
				transform: translateX(100%);
			}

			&:last-child:before {
				transform: translateX(0);
				transition-delay: 0.2s;
			}

			&:last-child:after {
				transition-delay: 0.1s;
				transform: translateX(100%);
			}
		}
	}
	&.active {
		> span {
			&:after,
			&:before {
				background-color: #93815d;
			}
			&:first-child {
				transform: rotate(-45deg);
				margin: 0;
			}
			&:last-child {
				transform: rotate(45deg);
				width: 30px;
				margin: 0;
			}
		}
	}
}

/*--------------------- NAV MENU ---------------------*/
.nav-menu {
	position: fixed;
	top: 0;
	right: -100px;
	max-width: 600px;
	width: 100%;
	height: 100vh;
	z-index: 11;
	padding: 100px 4vw;
	background-color: rgba(28, 29, 33, 0.85);
	opacity: 0;
	backdrop-filter: blur(5px);
	pointer-events: none;
	transition: 0.3s ease-out;
	@media (max-width: map-get($media, "lg")) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	&.active {
		right: 0;
		opacity: 1;
		pointer-events: auto;
	}
	h6 {
		font-size: 1.6em;
	}
}
.nav-list {
	padding-top: 34px;
	margin-top: 34px;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	@media (max-width: map-get($media, "lg")) {
		padding-top: 24px;
		margin-top: 24px;
	}
	li {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
		strong {
			color: $accent;
			min-width: 110px;
		}
		p {
			position: relative;
			overflow: hidden;
		}
		span {
			display: block;
			top: 0;
			left: 0;
			transform: translateY(0);
			transition:
				opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
				color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
				transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
			&.link-item-hover {
				position: absolute;
				opacity: 0;
				transform: translateY(100%);
				color: $accent;
			}
		}
		.link {
			color: #fff;
			display: inline-flex;
			align-items: center;
			&:hover {
				span.link-item {
					opacity: 0;
					transform: translateY(-100%);
				}
				span.link-item-hover {
					opacity: 1;
					transform: translateY(0%);
				}
			}
		}
	}
}

/*-------------------- LOGO --------------------*/
.logo {
	color: $accent;
	font-size: 20px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 1;
	font-weight: 700;
	display: flex;
	span {
		font-weight: 400;
		color: #fff;
		display: block;
	}
}

/*---------------- SOCIAL-LIST ----------------*/
.social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	li {
		+ li {
			margin-left: 30px;
			@media (max-width: map-get($media, "xs")) {
				margin-left: 12px;
			}
		}
		a {
			display: block;
			position: relative;
			overflow: hidden;
			width: 30px;
			span {
				color: #fff;
				font-size: 0.9em;
				height: 30px;
				line-height: 30px;
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				transform: translateY(0);
				transition:
					opacity 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
					color 0.7s cubic-bezier(0.165, 0.85, 0.45, 1),
					transform 0.7s cubic-bezier(0.165, 0.85, 0.45, 1);
				display: flex;
				align-items: center;
				justify-content: center;
				&:last-child {
					color: $accent;
					position: absolute;
					opacity: 0;
					transform: translateY(100%);
				}
			}
			&:hover {
				span:first-child {
					opacity: 0;
					transform: translateY(-100%);
				}
				span:last-child {
					opacity: 1;
					transform: translateY(0%);
				}
			}
		}
	}
}
