$accent_color: #93815d;
$primary_color: #fff;
$secondary_color: rgba(255,255,255,.75);
$link_color: #93815d;
$link_hover_color: #93815d;
$bg_color: #000;

$border_radius: 0;

$font_family: 'Circular Std', sans-serif;