$accent: #93815d;
$white: #fff;
$black: #1c1d21;
$black-100: #333;
$gray: #9f9f9f;

$border_radius: 0;

$font_family: "Circular Std", sans-serif;

$media: (
  xs: "575px",
  sm: "767px",
  md: "991px",
  lg: "1280px",
  xl: "1440px"
);
