/*-------------------- MENU --------------------*/
header {
	background: #101419;
	position: fixed;
	z-index: 20;
	height: 100%;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.35s ease-out;
	max-width: 260px;
	padding: 35px 20px;
	@media (min-width: $media_xl) and (min-height: 760px) {
		padding: 45px 30px;
	}
	@media (min-width: $media_xl) and (min-height: 850px) {
		padding: 65px 60px;
	}
	@media (min-width: $media_lg) {
		max-width: 320px;
	}
	@media (min-width: $media_xl) {
		max-width: 400px;
	}
	@media (min-width: $media_xxl) {
		max-width: 482px;
	}
	@media (max-width: 1199px) {
		left: -100px;
		opacity: 0;
		pointer-events: none;
		&.active {
			left: 0;
			opacity: 1;
			pointer-events: auto;
		}
	}
}

.header {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		text-align: center;
		height: 100%;
	}
	&__top {
		flex: 0 0 auto;
	}

	&__center {
		flex-grow: 1;
		overflow: hidden;
		overflow-y: auto;
		margin-top: 35px;
		@media (min-width: $media_xl) and (min-height: 760px) {
			margin-top: 45px;
		}
		@media (min-width: $media_xl) and (min-height: 850px) {
			margin-top: 65px;
		}
	}

	&__bottom {
		margin-top: 30px;
		flex: 0 0 auto;
		font-weight: 500;
		letter-spacing: 0.03em;
		line-height: 1;
		padding-top: 35px;
		font-size: 18px;
		position: relative;
		@media (min-width: $media_xl) and (min-height: 760px) {
			padding-top: 45px;
		}
		@media (min-width: $media_xl) and (min-height: 850px) {
			padding-top: 65px;
		}
		@media (min-width: $media_xl) and (min-width: $media_xl) {
			font-size: 26px;
		}
		&:before {
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 20px;
			position: absolute;
			background-image: url(../img/line.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.custom-link span {
			color: #f6ddbf;
		}
	}
}

.nav-list {
	li {
		display: block;
		position: relative;
		+ li {
			margin-top: 25px;
			@media (min-height: 760px) {
				margin-top: 30px;
			}
			@media (min-height: 890px) {
				margin-top: 40px;
			}
		}
		a {
			font-weight: 500;
			position: relative;
			text-decoration: none;
			display: inline-block;
			text-align: center;
			padding: 0 15px;
			color: rgba(255, 255, 255, 0.6);
			@media (min-width: $media_xl) {
				font-size: 18px;
			}
			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 12px;
				height: 2px;
				background-color: $accent_color;
				border-radius: 3px;
				width: 10px;
				opacity: 0;
				transition: 0.35s ease;
				@media (min-width: $media_xl) {
					top: 14px;
				}
			}
			&:before {
				right: 100%;
			}
			&:after {
				left: 100%;
			}
			&:hover {
				color: #fff;
				&:before,
				&:after {
					width: 70px;
					opacity: 1;
				}
			}
			&:active {
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}

// @media (min-width: 768px) {
// .nav-menu {
// 	// margin-top: 0;
// 	// display: block !important;
// 	// width: auto !important;
// 	// position: relative;
// 	// left: auto;
// 	// top: auto;
// 	// background-color: transparent;
// 	// z-index: 0;
// 	// height: auto;
// 	// opacity: 1;
// 	// padding: 0;
// }
// .nav-list {
// 	overflow: visible;
// 	max-height: none;
// }
// }

// Burger
.nav-btn {
	@media (min-width: $media_lg) {
		display: none;
	}
	position: fixed;
	padding: 24px 13px;
	z-index: 21;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.35s ease;
	flex: 0 0 auto;
	background-color: rgba(16, 20, 25, 0.35);
	border: none;
	&__burger {
		width: 24px;
		height: 1px;
		background-color: #fff;
		border-radius: 5px;
		position: relative;
		transition: all 0.35s ease;
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 24px;
			height: 1px;
			background: #fff;
			border-radius: 5px;
			transition: all 0.35s ease;
			left: 0;
		}
		&:before {
			transform: translate(0, -8px);
		}
		&:after {
			z-index: 1;
			transform: translate(0, 8px);
		}
	}
	&.active {
		.nav-btn__burger {
			background-color: transparent;
			transition: none;
			&:before {
				top: 50%;
				left: 50%;
				z-index: 1;
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:after {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
}

.overlay {
	display: none;
	@media (max-width: 1199px) {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(16, 20, 25, 0.35);
		z-index: 18;
		pointer-events: none;
		opacity: 0;
		&.active {
			pointer-events: auto;
			opacity: 1;
		}
	}
}
