.questions {
  &__wrap {
    position: relative;
  }

  &__step {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(20px);
    opacity: 0;
    pointer-events: none;
    transition: 0.35s ease-out;
    &.active {
      position: relative;
      transform: translateY(0);
      opacity: 1;
      pointer-events: auto;
    }
  }

  .slide-top {
    margin-top: 50px;
    @media (min-width: $media_xl) {
      margin-top: 60px;
    }
  }
  &__list {
    margin-bottom: -15px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 30px;
    @media (max-width: 576px) {
      margin-left: -10px;
      margin-right: -10px;
    }
    @media (min-width: $media_xl) {
      margin-top: 40px;
    }
    li {
      margin-bottom: 15px;
      &:not(:last-child) {
        margin-right: 15px;
        @media (min-width: $media_md) {
          margin-right: 30px;
        }
      }
      .btn {
        padding: 0 15px;
        min-width: 130px;
      }
    }
  }

  &__form {
    position: relative;
    margin-top: 30px;
    @media (min-width: $media_xs) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
    @media (min-width: $media_xl) {
      margin-top: 40px;
    }
    .questions__form-input {
      flex: 0 0 250px;
      max-width: 250px;
    }
    .btn {
      flex: 0 0 auto;
      margin-top: 30px;
      @media (min-width: $media_xs) {
        margin-left: 30px;
        margin-top: 0;
      }
    }
  }
}
